<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gmads.it.gmads_lab1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="gMADs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowProfile"
            android:label="@string/showProfile"/>
        <activity
            android:name=".EditProfile"
            android:configChanges="orientation"
            android:label="@string/editProfile"
            android:parentActivityName=".ShowProfile" />
        <activity android:name=".Tools" />
        <activity android:name=".ImageManagement" />
        <activity
            android:name=".AddBook"
            android:label="@string/title_activity_add_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SaveBook"
            android:label="@string/title_activity_save_book"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".AddBook"/>
        <activity android:name=".Scanner" />
        <activity android:name=".BaseScannerActivity"></activity>
    </application>

</manifest>